
.contacts{
    padding: 55px 20px 63px;
    text-align: center;
    
    

}

.contacts_title {
    font-weight: 700;
    font-size: 34px;
    color: var(--color-main-black);
}

.contacts_button {
    width: 210px;
    height: 42px;
    background-color: var(--color-main-black);
    border: none;
    border-radius: 21px;
    margin: 75px 0 30px;
    
    
    
}
.contacts_button:hover{
    opacity: 0.8;

}

.button_link {
    font-weight: 500;
    font-size: 24px;
    color: var(--bg-main);
    padding: 10px 0;  /* Добавляем вертикальный паддинг */
    height: auto;     /* Убираем фиксированную высоту */
    min-height: 44px; /* Ставим минимальную */
    
    
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    
   
   

}

.social_icon {
    width: 65px;
    height: 65px;
    fill: var(--color-main-black);
    
}
.social_icon:hover {
    fill: lightgreen;
   
    
}


.contacts_info {
    font-weight: 500;
    font-size: 16px;
    color: var( --font-color-grey);
    margin: 35px auto 0;
    width: 260px;
    
    
   
}
@media (max-width: 480px) {
    .contacts_info {
        font-size: 14px;
    }
    .social_icon {
        width: 55px;
        height: 55px;
    }
    
    .socials {
        gap: 20px;
    }
    
        
}
       
       
    
    
       
    
        

        
        
        
        
        
        
       
    